<ul class="no-style-list-ul">
  <li id="ticket-floor1">
    <p><%= t(".floor_1") %></p>
    <ul class="no-style-list-ul">
      <div class="seat-col">
        <li id="floor1-D" class="li-row-floor" style="float:right">
          <ul class="no-style-list-ul" style="display:grid;">
            <% @tickets_t1.each do |ticket| %>
              <% if ticket.code.include? "D" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </div>
      <div class="seat-row">
        <li id="floor1-A" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t1.each do |ticket| %>
              <% if ticket.code.include? "A" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li id="floor1-B" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t1.each do |ticket| %>
              <% if ticket.code.include? "B" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li id="floor1-C" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t1.each do |ticket| %>
              <% if ticket.code.include? "C" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </div>
    </ul>
  </li>
  <li id="ticket-floor2">
    <p><%= t(".floor_2") %></p>
    <ul class="no-style-list-ul">
      <div class="seat-col">
        <li id="floor2-D" class="li-row-floor" style="float:right">
          <ul class="no-style-list-ul" style="display:grid;">
            <% @tickets_t2.each do |ticket| %>
              <% if ticket.code.include? "D" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </div>
      <div class="seat-row">
        <li id="floor2-A" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t2.each do |ticket| %>
              <% if ticket.code.include? "A" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li id="floor2-B" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t2.each do |ticket| %>
              <% if ticket.code.include? "B" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %></span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li id="floor2-C" class="li-row-floor-normal">
          <ul class="no-style-list-ul">
            <% @tickets_t2.each do |ticket| %>
              <% if ticket.code.include? "C" %>
                <li class="seat-bus-row seat-<%= ticket.status %>"><span><%= ticket.code[3,ticket.code.bytesize] %><span></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </div>
    </ul>
  </li>
</ul>
