<tr class="even pointer">
  <td class=" "><%= trip.name %></td>
  <td class=" "><%= trip.slot %> </td>
  <td class=" "><%= Trip.human_enum_name(:status, trip.status) %></td>
  <td class=" last">
    <%= link_to t(".detail"), company_bus_path(current_user.company,trip)  %>
    <%= link_to t(".edit"), edit_company_bus_path(current_user.company,trip)  %>
  </td>
</tr>
