<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t(".trip") %></h3>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <%= search_form_for @q, url: {action: "index", controller: "trips"}, class: "form-label-left" do |f| %>
          <div class="col-md-4 col-sm-4">
            <%= f.collection_select :route_start_place_cont, @routes, :start_place, :start_place, {prompt: t(".start_place")}, {class: "form-control"}%>
          </div>

          <div class="col-md-4 col-sm-4">
            <%= f.collection_select :route_end_place_cont, @routes, :end_place, :end_place, {prompt: t(".end_place")}, {class: "form-control"} %>
          </div>

          <div class="col-md-4 col-sm-4  form-group has-feedback">
            <%= f.date_field :start_day_readonly_in, class: "form-control" %>
          </div>

          <div class="col-md-12 col-sm-12  offset-md-10">
            <button class="btn btn-primary" type="reset"><%= t("reset") %></button>
            <button type="submit" class="btn btn-success"><%= t("find") %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <%= button_to t(".add"), new_company_trip_path, method: :get, class: "btn btn-success" %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th class="column-title" style="text-align:center"><%= t(".start_place") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".end_place") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".start_time") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".end_time") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".bus") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".driver_major") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".driver_minor") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".booked") %>/<%= t(".seats") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".price") %> </th>
                  <th class="column-title" style="text-align:center"><%= t(".status") %> </th>
                  <th class="column-title no-link last" style="text-align:center">
                    <span class="nobr"><%= t("action") %></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%= render @trips %>
              </tbody>
            </table>
            <%= paginate @trips %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
