<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t(".infor_trip") %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
              <h3><%= @trip.name %></h3>
              <ul class="list-unstyled user_data">
                <li>
                  <i class="fa clock-o"></i> <%=  t(".start_time") %>: <%= l @trip.start_time, format: :full %>
                </li>
                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> <%=  t(".start_place") %>: <%= @trip.route.start_place %>
                </li>
                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> <%=  t(".end_place") %>: <%= @trip.route.end_place %>
                </li>
                <li>
                  <i class="fa fa-user"></i> <%=  t(".driver_major") %>: <%= @trip.driver_major.name %>
                </li>
                <li>
                  <i class="fa fa-user"></i> <%=  t(".driver_minor") %>: <%= @trip.driver_minor.name %>
                </li>
                <li>
                  <i class="fa fa-bus"></i> <%=  t(".bus") %>: <%= @trip.bus.license_plate %>
                </li>
              </ul>
              <br />
            </div>
            <div class="col-md-9 col-sm-9 ">
              <div class="profile_title">
                <div class="col-md-6">
                  <h2><%= t(".detail") %></h2>
                </div>
                <div class="col-md-6">
                  <%# <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div> %>
                </div>
              </div>
              <!-- start of user-activity-graph -->
              <div id="graph_bar" style="width:100%; padding-bottom:20px;">
                <%= @trip.route.detail %>
              </div>
              <!-- end of user-activity-graph -->
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="">
                    <a href="" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"><%= t(".list_ticketing") %></a>
                  </li>
                </ul>
                <% if @bookings.size > 0 %>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                      <table class="data table table-striped no-margin">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th><%= t(".customer") %></th>
                            <th><%= t(".identity_card") %></th>
                            <th><%= t(".phone") %></th>
                            <th><%= t(".status") %></th>
                            <th><%= t(".booked_time") %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= render @bookings %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                <% else %>
                  <p class="text-center"><%= t(".no_data") %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
