<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t(".infor_trip") %></h3>
      </div>
    </div>
    <%= button_to t(".export_pdf"), download_company_trip_path(format: :pdf), method: :get, class: "btn btn-info", style:"float:right" %>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
              <h3><%= @trip.name %></h3>
              <ul class="list-unstyled user_data">
                <li>
                  <i class="fa fa-clock-o"></i> <%=  t(".start_time") %>: <%= l @trip.start_time, format: :full %>
                </li>
                <li>
                  <i class="fa fa-map-marker"></i> <%=  t(".start_place") %>: <%= @trip.route.start_place %>
                </li>
                <li>
                  <i class="fa fa-map-marker"></i> <%=  t(".end_place") %>: <%= @trip.route.end_place %>
                </li>
                <li>
                  <i class="fa fa-money "></i> <%=  t(".price") %>: <%= @trip.price %>/<%= t(".ticket") %>
                </li>
                <li>
                  <i class="fa fa-user"></i> <%=  t(".driver_major") %>: <%= @trip.driver_major.name %>
                </li>
                <li>
                  <i class="fa fa-user"></i> <%=  t(".driver_minor") %>: <%= @trip.driver_minor.name %>
                </li>
                <li>
                  <i class="fa fa-bus"></i> <%=  t(".bus") %>: <%= @trip.bus.license_plate %> - <%= Bus.human_enum_name(:type_quality, @trip.bus.type_quality) %> (<%= @trip.bus.slot %> <%= t(".slot") %>)
                </li>
              </ul>
              <br />
              <div>
                <div><span><%= t(".map_seat") %></span></div>
                <div><div class="example-seat-empty"></div><span style="float:left">- <%= t(".seat_empty") %></span></div>
                <div><div class="example-seat-booked"></div><span style="float:left">- <%= t(".seat_booked") %></span></div>
              </div>
              <% if @trip.bus.vip? %>
                <%= render "map_seat_vip" %>
              <% elsif @trip.bus.normal? %>
                <%= render "map_seat_normal" %>
              <% end %>
            </div>
            <div class="col-md-9 col-sm-9 ">
              <div class="profile_title">
                <div class="col-md-6">
                  <h2><%= t(".detail") %></h2>
                </div>
              </div>
              <!-- start of user-activity-graph -->
              <div id="graph_bar" style="width:100%; padding-bottom:20px;">
                <%= raw @trip.route.detail %>
              </div>
              <!-- end of user-activity-graph -->
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="">
                    <a href="" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"><%= t(".list_ticketing") %></a>
                  </li>
                </ul>
                <% if @bookings.size > 0 %>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                      <table class="data table table-striped no-margin">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th><%= t(".customer") %></th>
                            <th><%= t(".phone") %></th>
                            <th><%= t(".number_ticket") %></th>
                            <th><%= t(".total_price") %></th>
                            <th><%= t(".status") %></th>
                            <th><%= t(".booked_time") %></th>
                            <th><%= t("action") %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @bookings.each_with_index do |booking, index| %>
                            <tr>
                              <td><%= index+1 %></td>
                              <td class="vertical-align-mid"><%= booking.fullname %></td>
                              <td class="vertical-align-mid"><%= booking.phone %></td>
                              <% @list_ticket = "" %>
                              <% booking.tickets.each do |ticket| %>
                                <% @list_ticket += ticket.code[3,ticket.code.bytesize] + "," %>
                              <% end %>
                              <td class="vertical-align-mid text-center">
                                <%= booking.tickets.size %>
                                (<%= @list_ticket[0,@list_ticket.bytesize-1] %>)
                              </td>
                              <td class="vertical-align-mid"><%= (@trip.price * booking.tickets.size) %></td>
                              <td class="vertical-align-mid" id="status-<%= booking.id %>"><%= Booking.human_enum_name(:status, booking.status) %></td>
                              <td class="vertical-align-mid"><%= l booking.created_at, format: Settings.format_time.long %></td>
                              <td class="vertical-align-mid last" id="action-<%= booking.id %>">
                                <% if booking.paying? %>
                                  <%= link_to t(".accept"), accept_booking_path(booking.id), class: "btn btn-success btn-xs", method: :put, remote: true %>
                                  <%= link_to t(".reject"), reject_booking_path(booking.id), class: "btn btn-danger btn-xs", method: :put, remote: true %>
                                <% elsif booking.paid? %>
                                  <%= link_to t(".confirmed"), "javascript:void(0)", class: "btn btn-primary btn-xs" %>
                                <% else %>
                                  <%= link_to t(".canceled"), "javascript:void(0)", class: "btn btn-warning btn-xs" %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <%= paginate @bookings %>
                  </div>
                <% else %>
                  <p class="text-center"><%= t(".no_data") %></p>
                <% end %>
              </div>
              <br>
              <div class="profile_title">
                <div class="col-md-6">
                  <h2><%= t(".form_add_booking") %></h2>
                </div>
              </div>
              <div class="x_panel">
                <div class="x_content">
                  <br />
                  <%= form_for @booking, class: "form-label-left input_mask", remote: true, url: company_trip_bookings_path(trip_id: @trip.id) do |f| %>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                      <%= f.text_field :fullname, class: "form-control has-feedback-left", placeholder: t(".fullname") %>
                      <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                      <%= f.text_field :phone, class: "form-control has-feedback-left", placeholder: t(".phone") %>
                      <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                      <label class="col-form-label col-md-6 col-sm-6 "><%= t(".select_tickets") %> <span class="required">*</span>
                    </div>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                      <%= f.collection_select :ticket_ids, @tickets, :id, lambda {
                        |ticket| "#{ticket.code[3,ticket.code.bytesize]}"}, {prompt: false}, {multiple: true, class: "select2_multiple form-control height_select_multi"} %>
                    </div>

                     <div class="form-group row">
                      <div class="col-md-12 col-sm-12  offset-md-6">
                        <button class="btn btn-primary" type="reset"><%= t("reset") %></button>
                        <button type="submit" class="btn btn-success"><%= t("submit") %></button>
                      </div>
                    </div>
                  <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
