<div class="nav-md footer_fixed">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <%= render "layouts/sidebar" %>
        <%= render "layouts/header" %>
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h3><%= t(".user") %></h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_title">
                  <h2><%= t(".form") %></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"col-md-6 offset-md-3" }) do |f| %>
                    <%= f.input :fullname, autofocus: true, class:"col-md-6 col-sm-6 form-control" %>
                    <%= f.input :email, autofocus: true, autocomplete: "email", class:"col-md-6 col-sm-6 form-control" %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <%= f.input :avatar, class: "col-md-6 col-sm-6 form-control" %>
                    <% if current_user.avatar? %>
                      <%= image_tag @current_user.avatar.url, id: "avatar_profile", width: "200", height: "auto" %>
                    <% else %>
                      <%= image_tag "/assets/fallback/default-user.png", id: "avatar_profile", width: "200", height: "auto" %>
                    <% end %>
                    <%= f.input :phone, class:"col-md-6 col-sm-6 form-control" %>
                    <%= f.input :address, class:"col-md-6 col-sm-6 form-control" %>
                    <%= f.input :password, autocomplete: "new-password", class:"col-md-6 col-sm-6 form-control" %>
                    <%= f.input :password_confirmation, autocomplete: "new-password", class:"col-md-6 col-sm-6 form-control" %>
                    <%= f.input :current_password, autocomplete: "current-password", class:"col-md-6 col-sm-6 form-control" %>
                    <div class="actions">
                      <%= f.submit t("submit"), class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "show_image" %>
