<div class="div-floor">
  <p class="title"><%= t(".floor_1") %></p>
  <div class="seat-row">
    <div id="floor1-A" class="li-row-floor-normal">
      <ul class="no-style-list-ul">
        <% @tickets_t1.each do |ticket| %>
          <% if ticket.code.include? "A" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="floor1-B" class="li-row-floor-normal">
      <ul class="no-style-list-ul">
        <% @tickets_t1.each do |ticket| %>
          <% if ticket.code.include? "B" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="floor1-C" class="li-row-floor-normal" style="padding-bottom:0px">
      <ul class="no-style-list-ul">
        <% @tickets_t1.each do |ticket| %>
          <% if ticket.code.include? "C" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="seat-col">
    <div id="floor1-D" class="li-row-floor" style="padding-bottom:0px">
      <ul class="no-style-list-ul" style="display:inline-grid;">
        <% @tickets_t1.each do |ticket| %>
          <% if ticket.code.include? "D" %>
            <li class="seat-bus-row seat-<%= ticket.status %>"><span>
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="div-floor">
  <p class="title"><%= t(".floor_2") %></p>
  <div class="seat-row">
    <div id="floor2-A" class="li-row-floor-normal">
      <ul class="no-style-list-ul">
        <% @tickets_t2.each do |ticket| %>
          <% if ticket.code.include? "A" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="floor2-B" class="li-row-floor-normal">
      <ul class="no-style-list-ul">
        <% @tickets_t2.each do |ticket| %>
          <% if ticket.code.include? "B" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="floor2-C" class="li-row-floor-normal" style="padding-bottom:0px">
      <ul class="no-style-list-ul">
        <% @tickets_t2.each do |ticket| %>
          <% if ticket.code.include? "C" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="seat-col">
    <div id="floor2-D" class="li-row-floor" style="padding-bottom:0px">
      <ul class="no-style-list-ul" style="display:inline-grid;">
        <% @tickets_t2.each do |ticket| %>
          <% if ticket.code.include? "D" %>
            <li class="seat-bus-row seat-<%= ticket.status %>">
              <div class="content-seat" style="text-align:left">
                <div class="name-seat">Ghế: <%= ticket.code[3,ticket.code.bytesize] %></div>
                <div>KH: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.fullname : "...................................................." %></div>
                <div>SĐT: <%= ticket.booking.present? && ticket.booked? ? ticket.booking.phone : "...................................................." %></div>
                <div>Điểm dừng: ......................................</div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
