<tr>
  <td>1</td>
  <td class="vertical-align-mid"><%= booking.fullname %></td>
  <td class="vertical-align-mid"><%= booking.identity_card %></td>
  <td class="vertical-align-mid"><%= booking.phone %></td>
  <td class="vertical-align-mid"><%= booking.status %></td>
  <td class="vertical-align-mid"><%= booking.created_at %></td>
</tr>
