<%= simple_form_for @company, html: {class: "col-md-6 offset-md-3"} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :name, class: "col-md-6 col-sm-6 form-control" %>
    <%= f.input :address, class: "col-md-6 col-sm-6 form-control" %>
    <%= f.input :phone, class: "col-md-6 col-sm-6 form-control" %>
    <%= f.input :logo, class: "col-md-6 col-sm-6 form-control" %>
    <% if @company.logo? %>
      <%= image_tag @company.logo.url, id: "img_logo", width: "200", height: "auto" %>
    <% else %>
      <%= image_tag "/assets/default-image.jpg", id: "img_logo", width: "200", height: "auto" %>
    <% end %>
    <%= f.input :banner, class: "col-md-6 col-sm-6 form-control" %>
    <% if @company.banner? %>
      <%= image_tag @company.banner.url, id: "img_banner", width: "500", height: "auto" %>
    <% else %>
      <%= image_tag "/assets/default-image.jpg", id: "img_banner", width: "500", height: "auto" %>
    <% end %>
    <%= f.input :company_info, class: "col-md-6 col-sm-6 form-control ckeditor" %>
  <div class="ln_solid"></div>
  <div class="item form-group">
    <div class="col-md-6 col-sm-6 offset-md-3">
      <button class="btn btn-primary" type="button"><%= t(".cancel") %></button>
      <button class="btn btn-primary" type="reset"><%= t(".reset") %></button>
      <button type="submit" class="btn btn-success"><%= t(".submit") %></button>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "show_image.js" %>
