<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
    <table class="data table table-striped no-margin">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t(".start_time") %></th>
          <th><%= t(".driver_major") %></th>
          <th><%= t(".driver_minor") %></th>
          <th><%= t(".bus") %></th>
          <th><%= t(".status") %></th>
          <th><%= t(".price") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "trip", locals:{trips: trips} %>
      </tbody>
    </table>
  </div>
</div>
