<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t(".route") %></h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8 offset-md-2">
      <div class="x_panel">
        <div class="x_title">
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <%= button_to t(".add"), new_company_route_path, method: :get, class: "btn btn-success btn-xs" %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <% if @routes.present? %>
            <table id ="data-routes" class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th class="column-title text-center"><%= t(".start_place") %> </th>
                  <th class="column-title text-center"><%= t(".end_place") %> </th>
                  <th class="column-title text-center no-link last">
                    <span class="nobr"><%= t("action") %></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%= render @routes %>
              </tbody>
            </table>
          <% else %>
            <p class="text-center"><%= t("no_data") %></p>
          <% end %>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "search_routes" %>
