<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t(".bus") %></h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-3 col-sm-3  profile_left">
            <ul class="list-unstyled user_data">
              <li>
                <i class="fa fa-bus"></i> <%= t(".license_plate") %>: <%= @bus.license_plate %>
              </li>
              <li>
                <i class="fa fa-wheelchair"></i> <%= t(".seats") %>: <%= @bus.slot %>
              </li>
            </ul>
            <br />
          </div>
          <div class="col-md-9 col-sm-9 ">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><%= t(".list_trips") %></a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                  <!-- start recent activity -->
                  <ul class="messages">
                    <% if @bus.trips.size > 0 %>
                      <% @bus.trips.each do |trip| %>
                        <li>
                          <div class="message_date">
                            <h3 class="date text-info"><%= trip.start_time.day %></h3>
                            <p class="month"><%= l trip.start_time, format: "%B" %></p>
                          </div>
                          <div class="message_wrapper">
                            <h4 class="heading"><%= trip.route.start_place %> <%= t(".to") %> <%= trip.route.end_place %></h4>
                            <blockquote class="message"><%= t(".driver_major") %>: <%= trip.driver_major.name %></blockquote>
                            <blockquote class="message"><%= t(".driver_minor") %>: <%= trip.driver_minor.name %></blockquote>
                            <br />
                          </div>
                        </li>
                      <% end %>
                    <% else %>
                      <p style="text-align:center"><%= t(".no_data") %></p>
                    <% end %>
                  </ul>
                  <!-- end recent activity -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
