<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <% if current_user.company.present? %>
      <%= current_user.company.name %>
    <% elsif current_user.admin? %>
      <a class="site_title"><i class="fa fa-paw"></i>
        <span>
          <%= t ".admin" %>
        </span>
      </a>
    <% else %>
      <%= link_to t(".create_company"), new_company_path, style:"font-size: 25px;margin: auto;color:white" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <%= image_tag "img.jpg", class:"img-circle profile_img", alt: "..." %>
    </div>
    <div class="profile_info">
      <span><%= t ".welcome" %>,</span>
      <h2>
        <% if user_signed_in? %>
          <%= current_user.fullname %>
        <% end %>
      </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li>
          <a href = "/"><i class="fa fa-home"></i> Trang chủ </a>
        </li>
        <li>
          <a href = "/employees"><i class="fa fa-users"></i> Nhân viên </a>
        </li>
        <li>
          <a href = "/buses"><i class="fa fa-bus"></i> Xe </a>
        </li>
        <li>
          <a href = "/routes"><i class="fa fa-random"></i> Lộ trình </a>
        </li>
        <li>
          <a href = "/routes"><i class="fa fa-road"></i> Chuyến đi </a>
        </li>
        <li>
          <a href = "/bookings"><i class="fa fa-ticket"></i> Xe </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <%= link_to raw("<span aria-hidden='true'><img src ='/assets/vietnam.png' width='57px' height='25px' ></span>"), locale: "vn" %>
    <%= link_to raw("<span aria-hidden='true'><img src ='/assets/english.jpg' width='57px' height='25px' ></span>"), locale: "en" %>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <%= link_to raw("<span class='glyphicon glyphicon-off' aria-hidden='true'></span>"), destroy_user_session_path, title: t(".logout"), method: :delete %>
  </div>
  <!-- /menu footer buttons -->
</div>
</div>
